body {
  background: #333;
  font-family: "Nunito", sans-serif;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.blurb h2 {
  color: #ea1c2c;
  font-size: 2rem;
  font-weight: 100;
}

.blurb p {
  color: white;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 2;
}

.blurb i {
  color: white;
  font-size: 2.5rem;
  line-height: 5rem;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 200;
}

#mainNavbar .navbar-brand {
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: LightPink;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-size: 3rem;
  font-weight: 100;
}

.navbar.scrolled {
  background: #eee;
  transition: background 500ms;
}

@media (max-width: 950px) {
  #headingGroup h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 830px) {
  #headingGroup h1 {
    font-size: 2rem;
  }
}
